[application]
name = "Neurovolution"
version = 0.1
debug = true

[simulation]
max_iterations = 1000
n_creatures = 100
max_creatures = 10000
min_creatures = 10

force_new_generation = true
generation_size = 100
generation_lifespan = 100
generation_selection = 'left_upper_corner'


[creature]
max_energy = 10
energy_per_timestep = 0
energy_from_grass = 1.5
energy_from_dirt = -1.5
min_energy_for_reproduction = 1

[visualisation]
on = true
size = [500, 500]
framerate = 60
interval = 1

[world_parameters]
size = 512
grass_growing_speed = 0.01
max_grass_length = 5
grass_eat_speed = 1
max_water_depth = 1000
max_terrain_height = 3000

[sensors]
# all sensor functions must be defined in sensor.py
# configformat: 'functionname', number of outputs
functions = [
#    ['heartbeat', 1],
#    ['is_standing_on_grass', 1],
    ['four_random_values', 4]
]

[actuators]
# all actuator functions must be defined in actuator.py
# configformat: 'functionname', number of input signals
functions = [
    ['move', 4],
#    ['reproduce', 1],
#    ['eat_grass', 1]
]

[dna]
# 'name', min, max, rounded
properties = [
    ['heartbeat', 1, 10, true]
]

[mutation]
brain = {p = 0.5, sd = 0.1}
body = {p = 0.5, sd = 0.5}

[brain]
# only hidden layers have to be specified, first and last layer are determined by sensors and actuators
# number of neurons, activation
hidden_layers = [
#    [5, 'relu']
]
output_activation = 'sigmoid'

