[application]
name = "Neurovolution"
version = 0.3
debug = true

[simulation]
max_iterations = 100000
n_creatures = 250 # initial number of creatures
max_creatures = 10000
min_creatures = 10
# if value > -1 this value will be used to seed the random generators
seed = -1

# for testing the learning capacity. don't forget to disable dying and reproducing if you use it.
force_new_generation = false
generation_size = 250
generation_lifespan = 100
generation_selection = 'at_breeding_ground'
weighted_selection = true # false = only creatures that meet the criterium survive

[visualisation]
on = true
size = [256, 256]
framerate = 60
interval = 1

[graph]
on = true

[world_parameters]
size = 256
grass_growing_speed = 0.01
max_grass_length = 1
grass_eat_speed = 1
max_water_depth = 1000
max_terrain_height = 3000
max_temperature = 20
min_temperature = 10
delta_temperature = 0.001
grass_density = 0.001

[creatures]
# name, id, color
species = [
    ["rabbit", 10, [255, 0, 0]]
]

[creature.rabbit]
initial_energy = 10
max_energy = 1000
energy_per_timestep = 0.5
energy_from_grass = 2
energy_from_dirt = 0
min_energy_for_reproduction = 1

[sensors.rabbit]
# all sensor functions must be defined in sensor.py
# configformat: 'functionname', number of outputs, activation function ('None'), true=always on|false=evolution
functions = [
#    ['heartbeat', 1, 'None'],
    ['four_random_values', 4, 'None', false],
#    ['random_0_or_1', 1, 'None', false],
#    ['find_middle', 4, 'None, false]
#    ['always_on', 1, 'None', true]
#    ['internal_clock', 1, 'None', false],

#    ['energy_level', 1, 'None', false]
    ['look', 9, 'None', false],
    ['has_no_neighbours', 1, 'None', true]
]

[actuators.rabbit]
# all actuator functions must be defined in actuator.py
# configformat: 'functionname', number of input signals, activation function, true=always on|false=evolution
# Note: actuators will be actuated, after all sensors have been read. Id actuators alter the world/state this
#  mights lead to problems. They are actuated in order of the array however, so shifting them might prevent
#  this.
functions = [
    ['reproduce', 1, 'sigmoid', false],
    ['eat_grass', 1, 'sigmoid', false],
#    ['die', 1, 'None', true]
     ['move', 4, 'sigmoid', false],
]

[body.rabbit]
# 'name', min, max, rounded
properties = [
#    ['heartbeat', 1, 10, true],
#    ['ploidy', 1, 2, true]
]
mutation = {p = 0.8, sd = 0.25}

[brain.rabbit]
mutation = {p = 0.8, sd = 0.25}
# only hidden layers have to be specified, first and last layer are determined by sensors and actuators
# number of neurons, activation
hidden_layers = [
#    ['layer_1', 5, 'relu']
]

# define connections: [sensor, hidden_layer], [hidden_layer, actuator] or [sensor, actuator]
# every connection will get its own outxin parameters
# note: the order they are defined is the order in which they will be calculated
connections = [
#    ['is_standing_on_grass', 'layer_1'],
    ['four_random_values', 'move'],
#    ['random_0_or_1', 'layer_1'],
#    ['layer_1', 'small_move'],
#    ['layer_1', 'reproduce'],
#    ['layer_1', 'eat_grass'],
#    ['is_not_standing_on_grass', 'small_move']
#    ['internal_clock', 'move'],
#    ['is_standing_on_grass', 'layer_1'],
#    ['layer_1', 'move'],
    ['look', 'eat_grass']
]

# define connections that bypass the brain: [sensor, actuator]
# there will be no weight, bias or activation out == in, so dimensions must match!
# note: sensors/actuators will still respect if they are active in the dna
direct_connections = [
    ['has_no_neighbours', 'reproduce']
]


