[application]
name = "Neurovolution"
version = 0.1
debug = true

[simulation]
max_iterations = 50
n_creatures = 100

[creature]
max_energy = 10
energy_per_timestep = 1

[visualisation]
on = true
size = [500, 500]
framerate = 10
interval = 1

[world_parameters]
size = 512
grass_growing_speed = 1
max_water_depth = 1000
max_terrain_height = 3000

[sensors]
# all sensor functions must be defined in sensor.py
# configformat: 'functionname', number of outputs
functions = [
    ['heartbeat', 1]
]

[actuators]
# all actuator functions must be defined in actuator.py
# configformat: 'functionname', number of input signals
functions = [
    ['move', 2],
    ['reproduce', 1]
]

[dna]
# 'name', min, max, rounded
properties = [
    ['heartbeat', 1, 10, true]
]

[mutation]
brain = {p = 0.1, sd = 0.1}
body = {p = 0.25, sd = 0.5}

[brain]
# only hidden layers have to be specified, first and last layer are determined by sensors and actuators
# number of neurons, activation
hidden_layers = [
    [5, 'relu']
]
output_activation = 'sigmoid'

