[application]
name = "Neurovolution"
version = 0.1
debug = true

[simulation]
max_iterations = 10000
n_creatures = 1000
max_creatures = 10000
min_creatures = 10

# for testing the learning capacity. don't forget to disable dying and reproducing if you use it.
force_new_generation = false
generation_size = 1000
generation_lifespan = 100
generation_selection = 'middle'


[creature]
max_energy = 10
energy_per_timestep = 0.5
energy_from_grass = 1.5
energy_from_dirt = -0.1
min_energy_for_reproduction = 1

[visualisation]
on = true
size = [500, 500]
framerate = 60
interval = 1

[world_parameters]
size = 512
grass_growing_speed = 0.01
max_grass_length = 5
grass_eat_speed = 1
max_water_depth = 1000
max_terrain_height = 3000

[sensors]
# all sensor functions must be defined in sensor.py
# configformat: 'functionname', number of outputs, activation function ('None'), true=always on|false=evolution
functions = [
#    ['heartbeat', 1, 'None'],
    ['is_standing_on_grass', 1, 'None', false],
    ['four_random_values', 4, 'None', false],
    ['random_0_or_1', 1, 'None', false],
#    ['find_middle', 4, 'None, false]
#    ['always_on', 1, 'None', true]
]

[actuators]
# all actuator functions must be defined in actuator.py
# configformat: 'functionname', number of input signals, activation function, true=always on|false=evolution
functions = [
#    ['move', 4, 'sigmoid', false],
    ['reproduce', 1, 'sigmoid', false],
    ['eat_grass', 1, 'sigmoid', false],
    ['small_move',1, 'sigmoid', false],
    ['die', 1, 'None', true]
]

[dna]
# 'name', min, max, rounded
properties = [
    ['heartbeat', 1, 10, true]
]

[mutation]
brain = {p = 0.5, sd = 0.25}
body = {p = 0.5, sd = 0.5}

[brain]
# only hidden layers have to be specified, first and last layer are determined by sensors and actuators
# number of neurons, activation
hidden_layers = [
    ['layer_1', 5, 'relu']
]
output_activation = 'sigmoid'

# define connections: [sensor, hidden_layer], [hidden_layer, actuator] or [sensor, actuator]
# every connection will get its own outxin parameters
# note: the order they are defined is the order in which they will be calculated
connections = [
    ['is_standing_on_grass', 'eat_grass'],
    ['four_random_values', 'layer_1'],
    ['random_0_or_1', 'layer_1'],
    ['layer_1', 'small_move'],
    ['layer_1', 'reproduce'],
    ['layer_1', 'eat_grass'],
]

# define connections that bypass the brain: [sensor, actuator]
# there will be no weight, bias or activation out == in, so dimensions must match!
# note: sensors/actuators will still respect if they are active in the dna
direct_connections = [
#    ['always_on', 'die']
]


